extends ../index.pug

block variables
  - var template = 'detail'

block content
  h1.collections_title Detail

  .detail
    .detail_wrapper
      figure.detail_media
        image.detail_media_image(alt=product.data.product.alt src=product.data.product.url)

      .detail_information
        p.detail_information_collection=`${product.data.collection.data.title} ${home.data.collection}`

        h1.detail_information_title=product.title

        .detail_information_content
          .detail_information_highlights
            each highlight in product.data.highlights
              p.detail_information_highlight
                //- svg.detail_information_highlight_icon
                //-   if highlight.highlights_icon
                //-     use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)
                //-   else
                //-     use(xlink:href="sprite-default")

                span.detail_information_highlight_text=highlight.highlights_text

          .detail_information_list
            each item in product.data.information
              p.detail_information_item
                strong.detail_information_item_title=item.information_label
                span.detail_information_item_description=item.information_description

          a.detail_information_link(href=product.data.link_url.url target="_blank")=product.data.link_text






