extends ../index.pug

block variables
  - var template = 'detail'

block content
  h1.collections__title Detail

  .detail
    .detail__wrapper
      figure.detail__media
        image.detail__media__image(alt=product.data.product.alt src=product.data.product.url)

      .detail_information
        p.detail__information__collection=`${product.data.collection.data.title} ${home.data.collection}`

        h1.detail__information__title=product.data.title

        .detail__information__content
          .detail__information__highlights
            each highlight in product.data.highlights
              p.detail__information__highlight
                svg.detail__information__highlight__icon
                  if highlight.highlights__icon
                    use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)
                  else
                    use(xlink:href="sprite-default")

                span.detail__information__highlight__text!=highlight.highlights_text.replace(/\n/g, '<br>')

          .detail__information__list
            each item in product.data.information
              p.detail__information__item
                strong.detail__information__item__title=item.information_label
                span.detail__information__item__description!=item.information_description

          a.detail__information__link(href=product.data.link_url.url target="_blank")=product.data.link_text
